@import "bootstrap-sprockets";
@import "bootstrap";

h1,
h2 {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

th,
label {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 100;
}

body {
  font-family: Lato;
  font-size: 1.5em;

}

.navbar {
  padding: 20px 0;
  background-color: white;
  margin: 0 15px 25px 15px;
  border: none;
  border-bottom: 5px solid black;
  border-radius: 0px;
  min-height: 150px;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: 'Bookman Old Style', serif;
  padding-left: 25px;
  height: 100%;
}

.btn-default {
  background-color: #888;
  color: white;
}

.navbar-form .form-control {
  width: 330px;
  height: 42px;
}

.btn-nav-search {
  width: 130px;
  height: 36px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.filter-frame ul {
  list-style-type: none;
  font-size: 24px;
  padding-left: 15px;
  li {
    margin: 15px 0;
  }
}

.main-content {
  border-left: 1px solid #555;
  min-height: 100%;
}

#logo img {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

#site-title {
  height: 100%;
}

.row {
  display: flex;
  align-items: flex-end;
}

#site-title h1 {
  font-size: 5em;
  align-self: flex-end;
}
