@import "bootstrap-sprockets";
@import "bootstrap";


// default styles

h1,
h2 {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

th,
label {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 100;
}

body {
  font-family: Lato;
  font-size: 1.5em;

}

a {
  color: #1E913C;
}

.btn-default {
  border: none;
}

header {
  background-color: #f8f8f8;;
}

//navigation

.navbar {
  padding: 20px 0;
  margin: 0 15px 25px 15px;
  border: none;
  // border-bottom: 5px solid black;
  border-radius: 0px;
  min-height: 150px;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: black;
  // font-family: 'Bookman Old Style', serif;
  padding-left: 25px;
  height: 100%;
}

.btn-default {
  background-color: #888;
  color: white;
}

.navbar-form .form-control {
  width: 330px;
  height: 42px;
}

#logo img {
  height: 130px;
}

#site-title {
  height: 100%;
}

.header-row {
  display: flex;
  align-items: center;
}

#site-title h1 {
  font-size: 5em;
}

.btn-nav-search {
  width: 130px;
  height: 36px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.filter-frame ul {
  list-style-type: none;
  font-size: 24px;
  padding-left: 15px;
  li {
    margin: 15px 0;
  }
}

.main-content {
  // border-left: 1px solid #555;
  min-height: 100%;
}

//info well

.well {
  background-color: #4CD2F6;
  border-color: #00BFF3;
  background-size: cover;
  font-size: 1.2em;
}

.well div.chardin_box {
  color: white;
}

//pagination

.pagination li > a {
  color: #1E913C;
}

.pagination > .active > span:hover {
  border-color: #1E913C;
  background-color: #1E913C;
}

.pagination > .active > span {
  border: none;
  border-color: #00BFF3;
  background-color: #00BFF3;
  background-size: cover;
}
