<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edumap</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EduMap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control input-nav-search" placeholder="Enter keywords...">
            </div>
            <button type="submit" class="btn btn-default btn-nav-search">Search</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <div class="container-fluid"> <!-- change to container for fixed width -->
    <div class="row">
      <aside class="col-md-3 filter-frame">
        <form class="filter">
          <ul>
            <li>&raquo; Topic</li>
            <li>&raquo; Grade Level</li>
            <li>&raquo; Language</li>
            <li>&raquo; Duration</li>
            <li>&raquo; Tech Platform</li>
          </ul>
        </form>
      </aside>
      <div class="col-md-9 main-content">
        <%= yield %>
      </div>
    </div> <!-- /.row -->
  </div><!-- /.container-fluid -->
  </body>
</html>
