.page-header{ :style => 'margin-bottom: 20px;' }
  %h1 Lessons

#results
  = render :partial => 'lessons/list',
           :locals => { :lessons => @lessons }

:javascript
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
