<h3><strong><%= @lessons.first.curriculum.name %></strong></h3>
<% @lessons.each do |lesson| %>
  <p><%= lesson.name %></p>
  <ul>
    <% lesson.codes.each do |code| %>
      <li><%= code.name %></li>
    <% end %>
  </ul>
<% end%>
