!!!
%html
  %head
    %meta{ charset: "utf-8", "content-type" => "text/html", "http-equiv" => "Content-Type"}
    :css
      table, td, th { border: 1px solid black }
      td, th { padding: 1px }
  %body
    %h2 Your EDUMAP Saved Lessons
    %table
      %thead
        %tr
          %th Curriculum
          %th Lesson
          %th Standards
          %th Level
      %tbody
        - @lessons.each do |lesson|
          %tr
            %td= lesson.curriculum.name if lesson.curriculum
            %td= link_to lesson.name, lesson.lesson_url
            %td= lesson.codes.pluck(:identifier).join(", ")
            %td= lesson.level_list
